{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@application": "./app/application",
                    "@bootstrap": "./bootstrap",
                    "@config": "./config",
                    "@domain": "./app/domain",
                    "@public": "./public",
                    "@routes": "./routes",
                    "@tests": "./tests"
                }
            }
        ]
    ]
}